.input {
	border: 0px solid transparent;
	border-radius: var(--mantine-radius-sm);
	background-color: light-dark(var(--mantine-color-pri-light), var(--mantine-color-gray-light));
	padding: 0 var(--mantine-spacing-md);
}

.label {
	margin-left: var(--mantine-spacing-lg);
}

.description {
	margin-left: var(--mantine-spacing-lg);
	color: light-dark(inherit, var(--mantine-color-dark-0));
}

.error {
	margin-left: var(--mantine-spacing-lg);
}

.dropdown {
	border-radius: var(--mantine-radius-md);
	// border: 2px solid light-dark(var(--mantine-color-sec-light), var(--mantine-color-pri-light));
	background-color: light-dark(var(--mantine-color-pri-6), var(--mantine-color-body));
}

.option {
	border-radius: var(--mantine-radius-sm);
	color: light-dark(var(--mantine-color-body), inherit);

	&:hover {
		background-color: light-dark(var(--mantine-color-sec-light), var(--mantine-color-sec-light));
	}
}
