.box {
	background-color: light-dark(var(--mantine-color-pri-6), var(--mantine-color-dark-6));
	color: var(--mantine-color-dark-0);
	border-bottom: 1px solid light-dark(var(--mantine-color-sec-6), var(--mantine-color-pri-6));
	padding: var(--mantine-spacing-xs) 0;
}

.link {
	padding: var(--mantine-spacing-md) 0;
	text-decoration: none;
	color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-0));
	font-size: var(--mantine-font-size-sm);
	font-weight: 500;
	text-decoration: none;
	transition: 0.25s all ease;

	@media (max-width: $mantine-breakpoint-md) {
		padding: var(--mantine-spacing-xs);
		text-align: center;
	}

	&:hover {
		color: light-dark(var(--mantine-color-sec-6), var(--mantine-color-pri-6));
	}
}

.drawerBody {
	background-color: light-dark(var(--mantine-color-pri-6), var(--mantine-color-dark-6));
}

.menuDropdown {
	padding: 0;
}

.menuItem {
	border-radius: 0;

	&:hover {
		.link {
			color: var(--mantine-color-pri-6);
		}
	}
}

.menuItemLabel {
	text-decoration: none;
}
