.box {
	background-color: var(--mantine-color-pri-6);
	color: var(--mantine-color-white);
	padding: calc(var(--mantine-spacing-xs) / 2) 0;
	font-size: var(--mantine-font-size-sm);
	font-weight: 500;
}

.link {
	transition: 0.25s all ease;
	border-radius: var(--mantine-radius-md);
	padding: 0 var(--mantine-spacing-xs);

	&:hover {
		color: var(--mantine-color-pri-6);
		background-color: var(--mantine-color-white);
	}
}
