.footer {
	background-color: light-dark(var(--mantine-color-pri-6), var(--mantine-color-body));
	color: light-dark(var(--mantine-color-white), inherit);
	padding: var(--mantine-spacing-xl) 0;
	border-top: 1px solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-3));
}

.title {
	color: light-dark(var(--mantine-color-sec-6), var(--mantine-color-pri-6));
}

.link {
	color: inherit;
	text-decoration: none;
	transition: 0.25s all ease;

	&:hover {
		color: var(--mantine-color-sec-6);
	}
}
