.card {
	background-color: light-dark(var(--mantine-color-pri-6), var(--mantine-color-dark-6));
	color: light-dark(var(--mantine-color-white), inherit);
	border-radius: var(--mantine-radius-md);
	padding: var(--mantine-spacing-xl);
	box-shadow: var(--mantine-shadow-xs);
	height: 100%;

	transition: 0.25s all ease;

	&:hover {
		background-color: light-dark(var(--mantine-color-pri-light), var(--mantine-color-pri-light));
		color: light-dark(var(--mantine-color-pri-6), inherit);

		.price {
			color: light-dark(var(--mantine-color-pri-6), var(--mantine-color-sec-6));
		}

		.icon {
			color: light-dark(var(--mantine-color-pri-6), var(--mantine-color-sec-6));
		}
	}
}

.price {
	color: light-dark(var(--mantine-color-sec-6), var(--mantine-color-pri-6));
}

.icon {
	color: light-dark(var(--mantine-color-sec-6), var(--mantine-color-pri-6));
}
