.hero {
	background-image: url("../../assets/images/image-1.jpg");
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	padding: calc(var(--mantine-spacing-xl) * 3) 0;
}
