.card {
	height: 100%;
	// background-color: light-dark(var(--mantine-color-pri-6), var(--mantine-color-gray-light));
	background-color: transparent;
	transition: 0.25s all ease;
	padding: 0;

	&:hover {
		// background-color: light-dark(var(--mantine-color-sec-6), var(--mantine-color-pri-6));
		color: light-dark(var(--mantine-color-dark-6), var(--mantine-color-white));

		.title {
			color: light-dark(var(--mantine-color-pri-6), var(--mantine-color-sec-6));
		}

		.socials {
			bottom: calc(var(--mantine-spacing-sm) * 1.5);
			opacity: 1;
		}
	}
}

.title {
	color: light-dark(var(--mantine-color-pri-6), var(--mantine-color-sec-6));
	font-weight: bold;
	font-size: var(--mantine-font-size-xs);
	text-transform: uppercase;
}

.imageContainer {
	border-radius: 999px;
	border: 3px solid light-dark(var(--mantine-color-pri-6), var(--mantine-color-pri-6));
	overflow: hidden;
	position: relative;
	transition: 0.25s all ease;

	&:hover {
		border: 3px solid light-dark(var(--mantine-color-sec-6), var(--mantine-color-sec-6));

		.image {
			transform: scale(1.1);
		}
	}
}

.image {
	transform: scale(1.05);
	transition: 0.25s all ease;
}

.socials {
	transition: 0.25s all ease;
	position: absolute;
	left: 0;
	bottom: calc(var(--mantine-spacing-sm) * -2);
	right: 0;
	// opacity: 0;
}

.icon {
	transition: 0.25s all ease;
	transform: scale(1);

	&:hover {
		transform: scale(1.25);
	}
}
